


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

<div class="container">
<div class="container">
<div class="container">

      <br><br>
      {{!-- <h1 class="header center orange-text" style="font-size:40px" >
          Iniciar sesión</h1> --}}
      <div class="row center">
          {{#if error}}
          <h1 style="color:red">{{error}}</h1>
          {{else}}
          <h1 class="header center orange-text" style="font-size:45px">Crea tu cuenta:</h1>
          {{/if}}



<form validated action="/signup" method="post">
   <p>
       Tu nombre de usuario:
       <input value="{{username}}" name="username" type="text" required>
   </p>
   <p>
       correo:
       <input value="{{email}}" name="email" type="email" required>
   </p>
   <p>
       password:
       <input name="password" type="password" required>
   </p>
       <p>
       repite tu password:
       <input name="password2" type="password" required>
   </p>
   <div class="row center">
            {{!-- <a id="download-button" class="btn-large waves-effect waves-light orange white-text"><input type="submit" ></a> --}}
            <a href="/login"> <button id="download-button" class="btn-large waves-effect waves-light light-green white-text"> Login</button></a>
            <input id="download-button" class="btn-large waves-effect waves-light orange white-text" type="submit"> 
        </div>
</form>
      </div>
      

</div>
</div> {{!-- para hacerlo más chico --}}
</div>{{!-- mas chico --}}

      <br><br>

    </div>
  </div>
