
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{title}}</h1>
      <p class=" center orange-text">Welcome to {{title}}</p>
      <div class="row center">
        

       
<a href="/login"> <button id="download-button" class="btn-large waves-effect waves-light light-green white-text"> Login</button></a>
<a href="/signup"><button id="download-button" class="btn-large waves-effect waves-light light-green white-text">Sign Up</button></a>
<a href="/profile"><button id="download-button" class="btn-large waves-effect waves-light light-green white-text">Buscador</button></a>
      </div>
      
      <br><br>

    </div>
  </div>


  