
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{title}}</h1>
      <p class=" center orange-text">Welcome to {{title}}</p>
      <div class="row center">
        

       
<a href="/login"> <button id="download-button" class="btn-large waves-effect waves-light orange white-text"> Login</button></a>
<button><a href="/signup">Sign Up</a></button>
<button><a href="/profile">Buscador</a></button>
      </div>
      
      <br><br>

    </div>
  </div>


  