<div class="container">
  <button><a href="/profile">Seguir Buscando</a></button>
<h2>Tu carrito</h2>
<ul>
  {{#each recipes as |recipe|}}
  <li>{{recipe.nombre}}</li>
  <li>{{recipe.ingredientes}}</li>
  {{/each}}
</ul>
</div>  

<div class="container">
  <h2>Walmart</h2>
</div>