<div class="container">
<h2>Gracias {{username}}</h2>

<p>Tu pedido se entrego a Walmart</p>

<button class="btn-large waves-effect waves-light light-green white-text"><a href="/profile">Volver al Inicio</a></button>
</div>