<div class="container center"style="margin-top:170px">
  <div class="container">
    <div class="container center">
      
<h2 style="color:whitesmoke">Gracias {{username}}</h2>
<div class="container">
<p style="color:whitesmoke"> Tu pedido se ha enviado a Walmart</p>

<a href="/profile"> <button id="download-button" class="btn-large waves-effect waves-light light-green white-text"> Volver al Inicio</button></a>
</div>
      
    </div>
  </div>



</div>