<h2>Bienvenido {{username}}</h2>
<a href="/profile/crearReceta">Crea tu receta</a>
<form action="/profile/recetas" method="POST">
<input type="text" name="nombre">
<button type="submit">Buscar</button>
