

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2>Bienvenido {{username}}</h2>
    <a href="/profile/crearReceta">Crea tu receta</a>
    <form action="/profile/recetas" method="POST">
    <input type="text" name="nombre">
    <button type="submit">Buscar</button>
    <br><br>
  </div>
</div>

<body>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>





